#media_modal {
  z-index: 2;
  position: absolute;
}
#media_modal .modal {
  display: flex;
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  padding: 0;
}
#media_modal .modal div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
#media_modal .modal div div {
  flex: 0 1 auto;
}
#media_modal .modal div div:first-child,
#media_modal .modal div div:last-child {
  flex: 0 0 20px;
}
#media_modal .modal div div:first-child a,
#media_modal .modal div div:last-child a {
  flex: 0 0 20px;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
}

#media_modal div.modal > img {
  position: absolute;
  top: 0;
  right: 0;
}
