.contact_button {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  height: 50px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_button:hover {
  background-color: #db8876;
  color: #525252;
}

.photograph-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dddddd;
  padding: 30px 50px;
}

.photograph-header > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photograph-header #headerInfos {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.photograph-header #headerInfos h2 {
  font-family: "DM Sans", sans-serif;
  color: #d3573c;
  font-size: 36px;
  margin: 0 0 6px 0;
}

.photograph-header #headerInfos h3 {
  font-family: "DM Sans", sans-serif;
  color: #901c1c;
  font-size: 22px;
}

.photograph-header #headerInfos h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 100;
}

.photograph-header #headerPhoto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.photograph-header #headerPhoto img {
  height: 200px;
  width: 200px;
  -webkit-clip-path: circle(100px at center);
          clip-path: circle(100px at center);
}

#photograph-gallerie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#photograph-gallerie div.gallerie--card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

#photograph-gallerie div.gallerie--card:nth-child(3n + 1) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#photograph-gallerie div.gallerie--card:nth-child(3n + 3) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#photograph-gallerie div.gallerie--card a {
  position: relative;
  height: 300px;
  width: 300px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#photograph-gallerie div.gallerie--card a img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

#photograph-gallerie div.gallerie--card video {
  width: auto;
  height: 300px;
  position: relative;
  border: 3px solid red;
}

#photograph-gallerie div.gallerie--card div.gallerie--card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  color: #901c1c;
  padding-top: 5px;
}

#photograph-gallerie div.gallerie--card div.gallerie--card-description div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.svg-heart {
  width: 15px;
  padding: 0 5px;
  -webkit-filter: brightness(0) saturate(100%) invert(10%) sepia(76%) saturate(5667%) hue-rotate(357deg) brightness(82%) contrast(81%);
          filter: brightness(0) saturate(100%) invert(10%) sepia(76%) saturate(5667%) hue-rotate(357deg) brightness(82%) contrast(81%);
}

@media screen and (max-width: 800px) {
  .photograph-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 30px 0px;
  }
  .photograph-header #headerInfos h2 {
    margin: 30px 0 0 0;
  }
  .photograph-header #headerInfos h3 {
    margin: 10px 0;
  }
  .photograph-header #headerInfos h2,
  .photograph-header #headerInfos h3,
  .photograph-header #headerInfos h4 {
    text-align: center;
  }
  .photograph-header #headerPhoto {
    margin: 0 0 30px 0;
  }
  #filtres {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #photograph-gallerie {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #photograph-gallerie div.gallerie--card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  #photograph-gallerie div.gallerie--card:nth-child(3n + 1) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #photograph-gallerie div.gallerie--card:nth-child(3n + 3) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
  .photograph-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 30px 0px;
  }
  .photograph-header #headerInfos h2 {
    margin: 30px 0 0 0;
  }
  .photograph-header #headerInfos h3 {
    margin: 10px 0;
  }
  .photograph-header #headerInfos h2,
  .photograph-header #headerInfos h3,
  .photograph-header #headerInfos h4 {
    text-align: center;
  }
  .photograph-header #headerPhoto {
    margin: 0 0 30px 0;
  }
  #filtres {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #photograph-gallerie {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #photograph-gallerie div.gallerie--card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  #photograph-gallerie div.gallerie--card:nth-child(3n + 1) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #photograph-gallerie div.gallerie--card:nth-child(3n + 3) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=photographer-gallerie.css.map */