#photograph-gallerie {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#photograph-gallerie div.gallerie--card {
  flex: 0 0 33%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
#photograph-gallerie div.gallerie--card a {
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#photograph-gallerie div.gallerie--card video {
  width: auto;
  height: 200px;
  position: relative;
  border: 3px solid red;
}

#photograph-gallerie div.gallerie--card a.orientation-square img {
  width: 200px;
  height: 200px;
}
#photograph-gallerie div.gallerie--card a.orientation-portrait img {
  width: 200px;
  height: auto;
}
#photograph-gallerie div.gallerie--card a.orientation-landscape img {
  height: 200px;
  width: auto;
}

#photograph-gallerie div.gallerie--card div.gallerie--card-description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #901c1c;
  padding-top: 5px;
}
#photograph-gallerie div.gallerie--card div:first-child {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#photograph-gallerie
  div.gallerie--card
  div.gallerie--card-description
  div:first-child {
  flex: 1 0 auto;
  display: flex;
  align-items: flex-start;
}
#photograph-gallerie
  div.gallerie--card
  div.gallerie--card-description
  div:last-child {
  flex: 0 0 30px;
}

#media {
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 70vh;
  width: 70vw;
}
#media img {
  object-fit: contain;
  height: 90%;
  width: 90%;
}
.svg-color {
  filter: brightness(0) saturate(100%) invert(10%) sepia(76%) saturate(5667%)
    hue-rotate(357deg) brightness(82%) contrast(81%);
}
.heart {
  width: 15px;
  padding-left: 5px;
}
.svg-black {
  width: 16px;
  filter: brightness(0) saturate(100%);
}
