@import "utilities/colors";

#bottom-infos {
  padding: 10px;
  background-color: $lightcolor;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  > div {
    .totallikes {
      min-width: 40px;
      text-align: right;
    }
    display: flex;
    align-items: center;
    &:last-child {
      padding-left: 30px;
    }
  }
}
