@import "utilities/colors";
@import "utilities/reponsive";
@import "modules/bottom-infos.scss";
@import "modules/modals.scss";
@import "modules/photographer-details.scss";
@import "modules/photographer-gallerie.scss";
@import "modules/select.scss";

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0 40px;
  position: relative;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  h1 {
    font-family: "DM Sans", sans-serif;
    color: $darkcolor;
    margin: 0;
  }
  .logo {
    height: 50px;
  }
}
@media screen and (max-width: $mobilebreakpoint) {
  header {
    flex-direction: column;
    padding-top: 20px;
  }
}
p {
  font-size: 18px;
}
