@import "utilities/colors";

#media_modal {
  display: none;
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #ffffff;
    header {
      position: relative;
      margin: 0;
      img.close-modal {
        filter: brightness(0) saturate(100%) invert(10%) sepia(76%)
          saturate(5667%) hue-rotate(357deg) brightness(82%) contrast(81%);
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        cursor: pointer;
      }
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 100%;
      width: 100%;
      img {
        height: 70%;
        width: auto;
      }
      video {
        height: 50%;
        width: auto;
      }
      div {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        h3 {
          color: $darkcolor;
        }
        &:first-child,
        &:last-child {
          flex: 0 0 42px;
          a {
            flex: 0 0 42px;
            display: flex;
            justify-content: center;
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(10%) sepia(76%)
              saturate(5667%) hue-rotate(357deg) brightness(82%) contrast(81%);
          }
        }
      }
    }
  }
}

/* modal */
// .modal {
//   border-radius: 5px;
//   background-color: $lightcolor;
//   width: 50%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-between;
//   padding: 35px;
//   margin: auto;
//   header {
//     justify-content: space-between;
//     width: 100%;
//     img {
//       cursor: pointer;
//     }
//     h2 {
//       font-size: 64px;
//       font-weight: normal;
//       text-align: center;
//     }
//   }
// }

// .modal header form {
//   display: flex;
//   width: 100%;
//   flex-direction: column;
//   align-items: flex-start;
//   label {
//     color: #312e2e;
//     font-size: 36px;
//   }
//   div {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     align-items: self-start;
//     margin-bottom: 26px;
//   }
//   input {
//     width: 100%;
//     height: 68px;
//     border: none;
//     border-radius: 5px;
//   }
// }

#contact_modal {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
/*
  h2 {
    font-size: 36px;
  }
  label,
  input,
  textarea {
    font-size: 20px;
  }
  input {
    height: 40px;
  }
  textarea {
    width: 100%;
  }
  .photograph-header {
    background-color: #fafafa;
    height: 300px;
  }
}
*/
