#contact_modal {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#contact_modal h2 {
  font-size: 36px;
}

#contact_modal label,
#contact_modal input,
#contact_modal textarea {
  font-size: 20px;
}

#contact_modal input {
  height: 40px;
}

#contact_modal textarea {
  width: 100%;
}

#contact_modal .photograph-header {
  background-color: #fafafa;
  height: 300px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.photograph-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photograph-header > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.photograph-header #headerInfos h2 {
  color: #d3573c;
  font-size: 36px;
  margin: 0 0 6px 0;
}

.photograph-header #headerInfos h3 {
  color: #901c1c;
  font-size: 22px;
}

.photograph-header #headerInfos h4 {
  font-size: 16px;
}

.photograph-header #headerPhoto img {
  height: 200px;
  width: 200px;
  -webkit-clip-path: circle(100px at center);
          clip-path: circle(100px at center);
}

#photograph-gallerie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#photograph-gallerie div.gallerie--card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

#photograph-gallerie div.gallerie--card a {
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#photograph-gallerie div.gallerie--card a.orientation-square img {
  width: 200px;
  height: 200px;
}

#photograph-gallerie div.gallerie--card a.orientation-portrait img {
  width: 200px;
  height: auto;
}

#photograph-gallerie div.gallerie--card a.orientation-landscape img {
  height: 200px;
  width: auto;
}

#photograph-gallerie div.gallerie--card video {
  width: auto;
  height: 200px;
  position: relative;
  border: 3px solid red;
}

#photograph-gallerie div.gallerie--card div.gallerie--card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: #901c1c;
  padding-top: 5px;
}

#photograph-gallerie div.gallerie--card div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#photograph-gallerie div.gallerie--card div.gallerie--card-description div:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#photograph-gallerie div.gallerie--card div.gallerie--card-description div:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
}
/*# sourceMappingURL=photographer-gallerie.css.map */