#media_modal {
  display: none;
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #ffffff;
    header {
      position: relative;
      margin: 0;
      img.close-modal {
        filter: brightness(0) saturate(100%) invert(10%) sepia(76%)
          saturate(5667%) hue-rotate(357deg) brightness(82%) contrast(81%);
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        cursor: pointer;
      }
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 100%;
      width: 100%;
      img {
        height: 80%;
        width: 80%;
        aspect-ratio: 1;
        object-fit: scale-down;
      }
      video {
        width: 70%;
        aspect-ratio: auto;
      }
      div {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        h3 {
          color: $darkcolor;
          font-weight: 100;
        }
        &:first-child,
        &:last-child {
          flex: 0 0 42px;
          a {
            flex: 0 0 42px;
            width: 42px;
            display: flex;
            justify-content: center;
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(10%) sepia(76%)
              saturate(5667%) hue-rotate(357deg) brightness(82%) contrast(81%);
          }
        }
      }
    }
  }
}

#contact_modal {
  display: none;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  .modal {
    position: fixed;
    top: 15%;
    left: 25%;
    right: 25%;
    width: auto;
    height: auto;
    padding: 0;
    background-color: $lightcolor;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    header {
      position: relative;
      padding: 30px 0 0 0;
      width: 100%;
      margin: 0;
      h2 {
        font-family: "DM Sans", sans-serif;
        font-weight: 100;
        font-size: 30px;
        margin: 0 30px;
        span {
          display: flex;
        }
      }
      img {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
      }
    }
    form {
      font-family: "DM Sans", sans-serif;
      width: 100%;
      margin: 10px 0 20px 0;
      div {
        display: flex;
        flex-direction: column;
        padding: 5px 30px;
        button {
          max-width: 140px;
        }
      }
      label,
      input,
      textarea {
        font-size: 20px;
      }
      textarea {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $mobilebreakpoint) {
  #contact_modal header {
    flex-direction: row;
  }
}
