#filtres {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 50px;
  > div:first-child {
    padding-right: 5px;
  }
}
select {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  background-color: $darkcolor;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}
